<%- include('header') %> <%- include('sidebar') %>

<!-- Your page content goes here -->
<main>
  <section class="content">
    <h2>Cat Care</h2>
    <p>
      Cat's are very intriguing and funny creatures. Unlike dogs cat's are not
      as affectionate and loyal for the most part. However, they are still an
      amazing pick because their cuteness is unmatcheable. Cat's have two
      different types of food they will eat their wet food and their dry food
      depending on your cat you should know how many times to serve any of the
      mentionned types (ask a vet or contact us). Cat's don't usually require as
      much outside activity as dog's. However, you can still walk them outside
      but make sure to put them on a leash as well. Some cats are independent
      and adventurers so it is not abnormal for a cat to leave the house for a
      day or two (they will almost always come back). Nevertheless, some other
      cats are not as independent so we would not recommend letting them go
      outside alone.Finally, similarly to dog's, make sure to give them baths
      (be patient they will try to run), nail trimming etc. Also, it is true
      that cats for the most part are almost never affectionate but sometimes
      even they require some affection so make sure to give it to them when the
      time comes.
    </p>
    <a
      href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.petinsurance.com%2Fhealthzone%2Fpet-breeds%2Fcat-breeds%2F5-things-you-didnt-know-about-scottish-fold-cats%2F&psig=AOvVaw0AeT8z8shsMf7QgSuP_HG1&ust=1707977355947000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCLDLr9WVqoQDFQAAAAAdAAAAABAD"
    >
      <img
        width="300"
        style="border-radius: 150px"
        src="images/Scottish_fold_5_things_hero850.jpg"
        alt="Cute Dogs"
      />
    </a>
  </section>
</main>

<%- include('footer') %>
