<%- include('header') %> <%- include('sidebar') %>

<!-- Your page content goes here -->
<main>
  <section class="content">
    <h1>Contact Us</h1>
    <h4>Name: Mohamad Addasi</h4>
    <h4>ID: 40278616</h4>
    <h4>Email: m_addasi@live.concordia.ca</h4>
    <h4>Backup Email: maddasi04@gmail.com</h4>
    <address>123 Mont Royal Avenue, Montreal, Qc</address>
  </section>
</main>

<%- include('footer') %>
