<%- include('header') %> <%- include('sidebar') %>

<!-- Your page content goes here -->
<main>
  <section class="content">
    <h2>Privacy & Disclaimer</h2>
    <p>
      We at Strays Away will never misuse or sell any of our clients information
      under any circumstance. All personal and general information given is
      secure with our team at Strays Away.
    </p>
  </section>
</main>

<%- include('footer') %>
