<%- include('header') %> <%- include('sidebar') %>

<!-- Your page content goes here -->
<main>
  <section class="content">
    <h1>Dog Care</h1>
    <p>
      Dogs are very loving, caring and especially loyal animals. No wonder they
      call them a Man's best friend. Dog's are usually a lot more active than
      cats so you should take you dogs on walks once or multiple times per day
      depending on your dog's needs. When taking them on a walk make sure to
      keep them on a leash to prevent any unwanted and avoidable incidents.
      Also, if adopting a puppy or a junior you might want to look into dog
      trainer's to train your dogs to do certain every day activities and even
      some cool tricks. Make sure to have a food bowl and water bowl in
      accessible areas for your dogs so they can always have access to food and
      water. It is to your discretion to see how many times you feed your dog
      (they are usually vocal when it comes to their food so you will know when
      they are hungry). Finally, keep your dog clean with regular showers,
      groomings, etc. Don't forget to show them attention and love!
    </p>
    <a
      href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fworldanimalfoundation.org%2Fdogs%2Fcutest-dog-breeds%2F&psig=AOvVaw3NO_XA_NptnhOggTaXwN_c&ust=1707977162849000&source=images&cd=vfe&opi=89978449&ved=0CBMQjRxqFwoTCOCZkPSUqoQDFQAAAAAdAAAAABAE"
    >
      <img
        width="300px"
        style="border-radius: 150px"
        src="/images/Cute-dogs.jpg"
        alt="Cute Dogs"
      />
    </a>
  </section>
</main>

<%- include('footer') %>
