<%- include('header') %> <%- include('sidebar') %>

<!-- Your page content goes here -->
<main>
  <section class="content">
    <h1 style="color: red">The format of the username and password might be invalid or username is already taken. Please try again.</h1>
  </section>
</main>

<%- include('footer') %>