<%- include('header') %> <%- include('sidebar') %>

<!-- Your page content goes here -->
<main>
  <section class="content">
    <h1 style="color: red">Wrong username or password. Please try again.</h1>
  </section>
</main>

<%- include('footer') %>