<%- include('header') %>

<%- include('sidebar') %>

<!-- Your page content goes here -->
<main>
  <section class="content">
    <h2>Welcome to Strays Away</h2>
    <p>
      Welcome to Strays Away, your destination for finding the perfect furry
      friend to adopt!
    </p>
  </section>
</main>

<%- include('footer') %>
