<%- include('header') %>

<%- include('sidebar') %>

<!-- Your page content goes here -->
<main>
  <section class="content">
    <h2>Thank you for using Strays Away</h2>
    <p>
      Please come again soon... Until then make sure that the strays stay away.
    </p>
    <button class="small-buttons">Logout</button>
  </section>
</main>

<%- include('footer') %>