<%- include('header') %> <%- include('sidebar') %>

<main>
  <section class="content">
    <div class="card">
      <img src="/images/Cat1.jpg" alt="Image 1" />
      <div class="card-content">
        <h4><b>Sushi</b></h4>
        <p>
          Sushi is one of the cuttest cat breeds, a Scottish Fold. Sushi is a 2
          year old male. He unfortunately only gets along well with children.
          However, he makes up for it with his cuteness and loving personality.
          <br /><br />
          Full name: <b>Janet Blanchette</b> <br />
          Email: <b>ilovesushi@gmail.com</b>
        </p>
        <button type="submit">Submit</button>
      </div>
    </div>

    <div class="card">
      <img src="/images/Cat2.jpg" alt="Image 2" />
      <div class="card-content">
        <h4><b>Yami</b></h4>
        <p>
          She is an American shorthair turning 5
          years old this upcoming May and has 3 little kittens. She gets along
          perfectly with other cats, dogs and children. She acts like the queen
          of the house but is still very loving. <br /><br />
          Full name: <b>Victor White</b> <br />
          Email: <b>v.white24@gmail.com</b>
        </p>
        <button type="submit">Submit</button>
      </div>
    </div>
  </section>
</main>

<%- include('footer') %>
