<aside>
  <nav>
    <ul>
      <li><a href="/">Home page</a></li>
      <li><a href="/find-pets">Find a dog/cat</a></li>
      <li><a href="/find-match">Find a Match</a></li>
      <li><a href="/dog-care">Dog Care</a></li>
      <li><a href="/cat-care">Cat Care</a></li>
      <li><a href="/give-away">Give away a pet</a></li>
      <li><a href="/create-account">Create an account</a></li>
      <li><a href="/contact">Contact Us</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
</aside>
