<%- include('header') %>

<%- include('sidebar') %>

<!-- Your page content goes here -->
<main>
  <section class="content">
    <h1 style="color: green;">You have successfully submitted the form!</h1>
  </section>
</main>

<%- include('footer') %>
