.slide-container {
  width: 800px;
}

.my-images {
  display: none;
}

img {
  width: 500px;
}

p {
  width: 800px;
  word-wrap: break-word;
}

a {
  cursor: pointer;
  user-select: none;
  text-decoration: underline;
  color: blue;
}
